// Global styles goes here
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: $primary;
    font-size: 'Poppins-Medium';
    ;
    overflow: hidden;
}

.Toastify__progress-bar--success {
    background: $secondary
}

.Toastify__progress-bar--warning {
    background: $secondary
}

.Toastify__toast-icon {
    svg {
        fill: $secondary;
    }
}