// All the SCSS Variables goes here

// Typogrpahy : Override of Bootstrap variable
$font-family-sans-serif: 'Poppins',
sans-serif;
$nav-link-color: #333;
$white:#ffff;
$card-box-shadow: 0px 0px 32px rgba(69, 69, 69, 0.12);
$card-box-shadow-hover: 0px 0px 32px rgba(69, 69, 69, 0.28);

// $card-img-height: 220px;
// $card-description-height: 48px;