.cart-img-wrapper {
    height: 25px;
    width: 25px;
    overflow: hidden;

    img {
        height: auto;
        width: 100%;
    }
}

.cart-size {
    width: 25%;
    margin: auto;
    // margin: 10px;
}

@media(max-width:1200px) {
    .cart-size {
        width: auto;
    }
}

.add-btn {
    border: none;
    background-color: rgb(145, 188, 226);
    border-radius: 5px;
    padding: 0 5px;

    span {
        display: inline-block;
        width: 15px;
    }
}

.remove-btn {
    background-color: rgb(145, 188, 226);
    border: none;
    border-radius: 5px;
    padding: 0 5px;

    span {
        display: inline-block;
        width: 15px;
    }
}

.disabled {
    background-color: rgba(207, 207, 207, 0.453);

    span {
        color: gray;
    }
}