.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: $primary;
    text-align: center;
}

.carousel.slide {
    &:hover {
        .carousel-control-prev-icon {
            border-right:
                17px solid gray;
            height: unset;
            transition: opacity 1s ease-in-out;
            opacity: 1;

            &:hover {
                border-right:
                    17px solid $secondary;
            }
        }

        .carousel-control-next-icon {
            transition: opacity 1s ease-in-out;
            opacity: 1;
            border-left:
                17px solid gray;
            height: unset;

            &:hover {
                border-left:
                    17px solid $secondary;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            opacity: unset;
            transition: all 0.35s ease-in-out;
        }
    }
}


.carousel-control-prev {
    top: 50%;
    bottom: 50%;
    left: 5%;
    width: unset;

}

.carousel-control-next {
    top: 50%;
    bottom: 50%;
    right: 5%;
    width: unset;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    opacity: 0;

    background-image: unset;
    width: 0;
    border-top:
        18px solid transparent;
    border-bottom:
        18px solid transparent;
    // border-right:
    //     17px solid transparent;

}



.main-heading {
    font-size: 40px;
}

.shop-btn {
    min-width: 160px;
    height: 46px;
    border-radius: 23px;
    background-color: $secondary;
    color: white;
    border: none;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInUpRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.animated {
    animation: rotateInUpRight 1s both;
}

.btn-animated {
    animation: rotateIn 1s both;
}