.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: white;
    text-align: center;
}
.main-heading{
    font-size: 40px;
}

.shop-btn {
    min-width: 160px;
    height: 46px;
    border-radius: 23px;
    background-color: #717fe0;
    color: white;
    border: none;
}