.cart-wrapper {
    width: 90%;
    margin: auto;
  }
  
  .cart-container {
    padding: 20px;
  }
  
  .cart-img-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    overflow: hidden;
  
    img {
      height: auto;
      width: 100%;
    }
  }
  
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  
  .add-btn,
  .remove-btn {
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
    width: 45px;
    height: 35px;
    border: none;
  
    &:hover {
      background-color: #ddd;
    }
  }
  
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 45px;
  }
  
  .disabled {
    background-color: rgba(207, 207, 207, 0.453);
  
    span {
      color: gray;
    }
  }
  
  .close {
    visibility: hidden;
    position: absolute;
    left: 1%;
    top: 7%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0.1s ease-in-out;
  }
  
  .cart-item:hover {
    .close {
      visibility: visible;
      cursor: pointer;
    }
  }
  
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  
    .empty-cart-wrapper {
      height: 200px;
      width: 200px;
      overflow: hidden;
  
      img {
        height: auto;
        width: 100%;
      }
    }
  
    .continue-btn {
      background-color: $secondary;
      border-radius: 20px;
      color: white;
      padding: 8px 20px;
      border: none;
  
      &:hover {
        background-color: #222;
      }
    }
  }
  
  .cart-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .text-gray {
    color: gray;
  }
  
  .checkout-btn {
    background-color: #222;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px;
  
    &:hover {
      background-color: $secondary;
    }
  }
  
  @media (max-width: 576px) {
    .cart-content {
      flex-direction: column;
      align-items: center;
  
      .col-lg-8,
      .col-lg-4 {
        width: 100%;
      }
    }
  
    th,
    td {
      padding: 10px;
      font-size: 14px;
    }
  }
  