// Card styles goes here
.card {
    box-shadow: $card-box-shadow;
    width: 250px;
    height: 270px;

    .image-wrapper {
        height: 220px;
        overflow: hidden;
        width: 220px;
        object-fit: contain;

        img {
            height: 100%;
            width: 100%;
            aspect-ratio: 3/2;
        }

        // object-fit: cover;
    }

    // Display only two lines of text


    .card-text {
        height: $card-description-height;
    }

    .btn:hover {
        color: $white;
    }
}

.card:hover {
    box-shadow: $card-box-shadow-hover;
}