// Card styles goes here
.card {
    box-shadow: $card-box-shadow;
    height: 250px;
    width: 230px;
    border-radius: 7px;
    border: none;

    .image-wrapper {
        height: 170px;
        overflow: hidden;
        // border-radius: 7px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            aspect-ratio: 3/2;
        }

    }

    // Display only two lines of text


    .card-text {
        height: $card-description-height;
    }

    .btn:hover {
        color: $white;
    }
}

.card:hover {
    box-shadow: $card-box-shadow-hover;
}