.big-img-wrapper {
    height: 450px;
    // width: 400px;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


@media(max-width:576px) {
    .big-img-wrapper {
        height: 450px;
        overflow: hidden;
        border-radius: 7px;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
@media(max-width:375px) {
    .big-img-wrapper {
        height: 450px;
        overflow: hidden;
        border-radius: 7px;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}



.description-text {
    color: gray;
}

.detail-btn {
    background-color: $secondary;
    border-radius: 20px;
    color: $primary;
    padding: 8px 20px;
    border: none;
}

.small-img-wrapper {
    height: 100px;
    // width: 70px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.selected {
    border: 2px solid $secondary;
}

.carousel-container {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}



.carousel-img-wrapper {
    height: 550px;
    width: 550px;
    border-radius: 7px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        // object-fit: cover;
    }
}

@media(max-width:576px) {
    .carousel-img-wrapper {
        height: 400px;
        width: 400px;
        border-radius: 7px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            // object-fit: cover;
        }
    }
}

@media(max-width:375px) {
    .carousel-img-wrapper {
        height: 280px;
        width: 280px;
        border-radius: 7px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            // object-fit: cover;
        }
    }
}





