.main-wrapper {
    width: 75%;
    margin: auto;

}

.see-all-text {
    padding-right: 60px;
    color: $secondary;
    cursor: pointer;
}

@media(max-width:992px) {
    .see-all-text {
        padding: none;
    }
}