.login-wrapper {
    background-color: $primary;

    .logo-img-wrapper {
        height: 250px;
        width: 250px;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

    .form-size {
        width: 70%;
    }

    .error-message {
        color: red;
        font-size: 12px;
        padding-inline: 10px;
    }


    .password-wrapper {
        display: flex;

        outline: none;
    }




    .form-input {
        outline: none;
    }


    .password-wrapper button {
        border: none;
        outline: none;
        background-color: $primary;
    }

    .text-gray {
        color: gray;
    }

    .eye-icon-btn {
        outline: none;
    }

    .login-btn {
        background-color: #f78b73;
    }

    .login-img-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%; // object-fit: cover;
        }
    }

    .main-text {
        color: $secondary;
    }
}

.form-control .form-control:focus {
    border-color: gray;
}

.Toastify__progress-bar--success {
    background: $secondary
}

.Toastify__progress-bar--warning {
    background: $secondary
}

.Toastify__toast-icon {
    svg {
        fill: $secondary;
    }
}

.login-image {
    height: 100%;
}

.main-img-wrapper {
    height: 100%;

    img {
        height: 100%;
        width: 100%;
    }
}

@media (max-width:576px) {

    .login-image {
        height: 50%;
    }


}