.registration-wrapper {
    background-color: $primary;

    .logo-img-wrapper {
        height: 250px;
        width: 250px;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

    .register-form {
        width: 70%;
    }

    .form-control :focus {
        border-color: #dee2e6;
    }

    .error-message {
        color: red;
        padding-inline: 10px;
        font-size: 12px;
    }

    .main-text {
        color: $secondary;
    }

    .register-btn {
        background-color: #f78b73;
    }
}