/* 
   Brand Logo and Primary Navigation
*/
.header {
   background-color: #fe6568;

   .cart-items {
      top: -17%;
      right: -15%;
      background-color: green;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;

      &:hover {
         color: white;
      }
   }

}