/* 
   Brand Logo and Primary Navigation
*/
.header {
   background-color: $primary;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

   .cart-items {
      top: -17%;
      right: -15%;
      background-color: $secondary;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: white;


   }

   .logout-btn {
      background-color: $secondary;
      color: white;
   }

}



#mobile-nav {
   display: none;
}

.mobile-size {
   display: none;

   .nav-item {
      margin-bottom: 10px;
   }

   .nav-item :hover {
      color: $secondary;
      ;
   }
}

#mobile-nav:checked+.mobile-size {
   display: inline-block;
   // transform: translateY(0px);
   transition: 0.1s ease-in-out;
   background-color: $primary;
   color: black;
   list-style: none;
   position: absolute;
   top: 0%;
   left: 0%;
   z-index: 10;
   width: 100%;
}

.list-style {
   list-style: none;
}