/* 
   Brand Logo and Primary Navigation
*/
.header {
   background-color: #f2775c;

   .cart-items {
      top: -17%;
      right: -15%;
      background-color: green;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;

      &:hover {
         color: white;
      }
   }

}



#mobile-nav {
   display: none;
}

.mobile-size {
   transform: translateY(-500px);
}

#mobile-nav:checked+.mobile-size {
   transform: translateY(0px);
   transition: 0.1s ease-in-out;
   background-color: white;
   color: black;
   list-style: none;
}